
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(to bottom right, #fadcc0, #fbb62b);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.result-container {
  max-width: 900px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.result-card {
  margin-bottom: 20px;
}

.profession-header {
  text-align: center;
  margin-bottom: 20px;
}

.profession-header h1 {
  font-size: 2rem;
  color: #444;
}

.profession-name {
  font-size: 1.5rem;
  color: #007bff;
  font-weight: bold;
}

.profession-details {
  margin-top: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  color: #444;
  margin-top: 30px;
  margin-bottom: 15px;
}

.related-professions {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.related-professions li {
  background-color: #e9ecef;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.123);
  text-decoration: none;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.video-link,
.vagas-link {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.video-link:hover,
.vagas-link:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
